<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="icon" type="image/x-icon" href="http://example.com/favicon.ico" />
</head>
<body>
    <ul>
        {{#each menu}}
            <li><a href="{{ this.URL }}">{{ this.name }}</a></li>
        {{/each}}
    </ul>