{{> dochead }}

<form action="/login" method="post" accept-charset="utf-8">
    <input type="text" name="username" />
    <input type="password" name="password" />
    <button type="submit">Submit</button>
</form>