<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="shortcut icon" type="image/png" href="http://spitemonster.com/favicon.png"/>
        <link rel=stylesheet href="/public/style/panel.css">
    </head>
    <body>
        <div id="app">
        </div>
        <script src="/public/scripts/panel.js"></script>
    </body>
</html>